extends ../layout

block content
	h1= title

	p You're halfway to starting your mosaic! We just need a name for it, and a description of what it contains.

	img(src='/images/' + imageName)

	form(method='post',enctype='multipart/form-data')
		input(name='title', type='text')
		input(name='description', type='text')
		input(name='mosaic_image', type='hidden', value=imageName)
		input(type='submit')

block footer 
	p 